.background {
    background-color: rgb(255, 255, 255);
}

.foreground {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(17,45,233,0.2);
}

.interactive-item {
    border: 1px solid rgb(196,52,34);
    padding: 0px !important;
}

.interactive-item-header {
    background-color: rgba(232,186,46,0.4);
}

.side-bar {
    background-color: rgb(48, 48, 48);
}

.side-bar-item {
    background-color: rgb(34, 34, 34);
}

.large-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid green; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: auto ;
    margin-bottom: auto ;
    margin-left: auto ;
    margin-right: auto 
}

.small-loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid green;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto ;
    margin-right: auto
  }

.tiny-loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid green;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto ;
    margin-right: auto 
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

#browse-panel {
    display: flex;
    width: 100%;
}

#datasets-panel {
    height: calc(100% - 70px);
    flex-grow: 20;
}

.facet-checkbox {
    height: 25px;
}

#filter-panel {
    width: 300px;
    margin-right: 20px;
    border: 1px solid rgba(17,45,233,0.2);
    flex-shrink: 0;
    background-color: rgba(17,45,233,0.05);
    height: max-content;
}

#dataset-header {
    padding: 4px 0;
}

#header-firstline {
    float: none;
    padding-bottom: 0;
}

#header-secondline {
    padding-top: 0;
}

#dataset-details {
    padding: 4px 12px 0;
}

#facet-panel {
    background-color: white;
    margin: 12px -4px;
    padding: 12px;
    border: 1px solid rgba(17,45,233,0.2)
}

#facet-panel hr {
    margin: 8px 0 2px;
}

#facet-panel div {
    display: flex;
    padding: 4px;
}

#facet-panel label {
    padding-left: 5px;
    width: 100%;
}

#facet-panel label table,
#facet-panel label table tr {
    width: 100%;
}

#facet-panel label table td ~ td {
    display: inline-block;
    text-align: right;
    width: 100%;
}

#filter-panel form input[type=button] {
    margin: 24px 0 12px;
}

#filter-panel form input[type=button] ~ input[type=button] {
    width: 100px;
}

#dataset-list-panel {
    display: inline-block;
    background-color: rgba(196,52,34,0.4);
    padding: 12px;
    border: 1px solid rgba(196,52,34,0.5);
}

#loading-block {
    margin: 20px;
}

#keyvaluefield {
    display: flex;
}

#keyvaluefield div:first-child {
    padding: 8px;
    padding-top: 0;
    padding-left: 0;
}

.experiment-div {
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

#main-div {
    padding: 20px;
}

#selected-filters {
    display: flow-root;
}

.filter-widget {
    display: inline;
    width: auto;
    padding: 0 12px !important;
    background-color:rgba(196,52,34,0.1);
    font-size: 60%;
    max-width: 250px;
    height: 30px;
    margin: 2px 2px;
    overflow: hidden;
    border: 1px solid rgba(196,52,34,0.5);
    vertical-align: middle;
    float:left;
}

.filter-widget div {
    display: inline;
    vertical-align: middle;
    margin: 0;
}

.filter-widget span {
    vertical-align: middle;
}

.filter-widget input[type=button] {
    display: inline;
    background: none;
    border: none;
    color: red;
}
